<google-map height="100%" width="100%" [center]="center" [zoom]="zoom">
  @for (position of markerPositions; track position) {
  <map-marker
    #marker="mapMarker"
    [position]="position"
    (mapClick)="openInfoWindow(marker, position)"
    [icon]="'assets/'+position.vehicle+'.svg'"
  />

  }

  <map-info-window>
    <div class="container">
      <div class="col-md-5 info">
        <img class="img-salesman" [src]="saleman.photo + '.jpg'" />
        <div class="isactive" [style.backgroundColor]="saleman.isActive ? statusColorPalette[0] : statusColorPalette[1]"></div>
      </div>
      <div class="col-md-5 info">
        <strong>{{saleman.name}}</strong>
        <br />
        <small>{{saleman.category}}</small>
      </div>
      <button class="col-md-2 button-showinfo" (click)="getSalesmanInfo(saleman)">VER</button>
    </div>
  </map-info-window>
</google-map>

<div class="dialog-salesman">
  @if (show) {
    <app-salesman-view [show]="show" [disabled]="disabled" [salesman]="salemansItem" (showInFalse)="changeShowstatus($event)"></app-salesman-view>
  }
</div>