.button-showinfo

    float: right
    text-transform: uppercase
    font-weight: bold
    color: #ffffff
    border-radius: 5px  /* Borde del boton */
    letter-spacing: 2px /* Espacio entre letras */
    background-color: #1e9fe9 /* Color de fondo */

.info
    float: left
    height: 70px
    width: 100px

.info small
    color: #5cb5fd

.img-salesman
    height: 60px
    border-radius: 10px 

.isactive
    width: 17px
    height: 17px
    border-radius: 15px
    position: fixed
    bottom: 15px
    left: 50px